@import 'variables';

/** General Styles
  *
  *
*/
body{
  font-family: 'Raleway';
  font-weight: 500;
}

h1,thead{
  font-family: 'Montserrat';
  font-weight: 700;
}

/** Common Styles
  *
  *
*/

.text-center{
  text-align: center !important;
}

/** Specific Styles
  *
  *
*/
.notification-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edf1f7;
  border: .15rem solid #d6d8db;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  &.hide{
    display: none;
  }
  p{
    margin-bottom: 0;
  }
}

.form-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  .form-input{
    display: flex;
    align-items: baseline;
    label{
      font-family: 'Montserrat';
      font-weight: 600;
      margin-right: 1rem;
      &.error{
        color:red;
      }
      &+input.error{
        border: 1.5px solid red;
      }
    }
  }
  .form-button{
    margin-bottom: 1.5rem;
    button{
      margin-bottom: 0;
    }
  }
}

#game-table{
  td{
    &:first-of-type{
      width: 60%;
    }
  }
  .action-btns{
    button{
      padding: 1rem;
      height: auto;
      line-height: 1;
      margin: 0 .3rem;
      display: inline-flex;
      align-items: center;
    }
  }
  .new{
    color: green;
  }
}
