@import 'variables';

/** General Styles
  *
  *
*/
body{
  font-family: 'Raleway';
  font-weight: 500;
  background: var(--bg-color);
  color: var(--font-color);
}

h1,thead{
  font-family: 'Montserrat';
  font-weight: 700;
  color: var(--font-color);
}

button{
  color: var(--font-color);
}

/** Common Styles
  *
  *
*/

.text-center{
  text-align: center !important;
}
